@font-face {
    font-family: 'Roboto-Bold';
    src: url(Roboto/Roboto-Bold.ttf);
    font-family: 'Roboto-Italic';
    src: url(Roboto/Roboto-Italic.ttf);
    src: url(Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Medium';
    src: url(Roboto/Roboto-Medium.ttf);
    font-family: 'Roboto-Thin';
    src: url(Roboto/Roboto-Thin.ttf);
    font-family: 'Roboto-Regular';
    src: url(Roboto/Roboto-Regular.ttf);
}


#Contenu_section {
    width: 517px;
    height: 536px;
    border-radius: 8px;
    background-color: rgba(220, 220, 220, 0.12);
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    
#Titre_section_action{
    margin-bottom: 7px;
}
.Titre_section {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    size: 30px;
    text-decoration: underline;
    text-decoration-color: #F9EB3C;;
    text-underline-position: under;
    color: #05602F;
    width: 517px;
    height:40px;
    margin: auto;
    text-align: center;
}



#Choix_periode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#Titre_slider{
padding-bottom: 5px;
color: #666666;
font-size: 18px;
font-family: Roboto, Arial, Helvetica, sans-serif;

}
#Liste_periodes{
    height:20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: #666666
}


.boutton_attaque_defense {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:140px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    color:#383338;
    background-color: white;
    border: solid #383338 1px;
    text-decoration: none;     
}
.boutton_attaque_defense:hover{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:140px;
    height:30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    color:#383338;
    background-color: white;
    border: solid #383338 1px;
    text-decoration: none;  
    box-shadow: 1px 1px 2px #666666;
}


#Type_attaque {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
width: 310px;
}

#Type_attaque p {
font-size: 14px;
font-family: Roboto, Arial, Helvetica, sans-serif;
display: flex;
align-items:center;
justify-content: center;
color: #383338;
}

.Boutton_type_attaque{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width:110px;
    height:26.87px; 
    border-radius: 20px;
    border: 1px solid #383338 ;
}

#Titre_sanctions {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #05602F;

}

#sanctions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Boutons_sanctions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    
}

#carton_jaune{
    background-image: url(Carton\ Jaune.png);
    background-size: 33px;
    background-position: center;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    border:none;

}

#carton_rouge{
    background-image: url(Carton\ Rouge.png);
    background-size: 33px;
    background-position: center left 0.5px;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    border:none;
}

#Deux_min {
    width: 33px;
    color:#05602F;
    height: 33px;
    border-radius: 6px ;
    border:none;
    background-color: rgba(220, 220, 220, 0.012);
    

}

.boutton_fait_de_jeu {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    border:none;
}

#Boutons_saisies {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 230px;
    width: 476px;

}
#boutons_ligne_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#boutons_ligne_2{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#boutons_ligne_3{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.boutton_fait_de_jeu {
    margin-left: 8px;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    background-color: #589474;
    color:#FFFFFF;
    font-size: 13px;

}

.boutton_fait_de_jeu:hover {
    margin-left: 8px;
    background-color: #589474;
    color:#FFFFFF;
    font-size: 13px;
    box-shadow: 1px 1px 2px #666666;
}

#Validation_saisie {
    margin-top: 20px;
    margin-bottom: 10px;
    border:none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F9EB3C;

    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;

}
#Validation_saisie:hover{
    margin-top: 20px;
    margin-bottom: 10px;
    border:none;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F9EB3C;

    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 1px 1px 2px #666666;


}

/* Code CSS mise en forme du toggle switcher pour le type d'attaque */
.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #05602F; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #05602F; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #05602F; color: #05602f;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 14px;
    border: 2px solid #05602F; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}